body, html{
   margin: 0px;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   height: 100%;
}
.headerWrapper{
   background-color: #4f4f4f;
   width: 100%;
   height: 60px;
   display: inline-block;
   vertical-align: middle;
}
.headerNavigationList{
   list-style-type: none;
   padding: 0px 20px;
   margin: 22px 0;
   float: right;
}
.headerNavigationList li{
   display: inline;
}
.headerNavigationList a{
   text-decoration: none;
   color: #fdfddf;
   padding: 22px 15px;
}
.headerNavigationList a:hover{
   background-color: #434343;
   padding: 22px 15px;
   transition: background-color 0.3s;
   border-radius: 1px;
}
.sidebarWrapper{
   background-color: #434343;
   width: 250px;
   height: 100%;
   display: inline-block;
}
.sidebarNavigationList{
   list-style-type: none;
   padding: 0px 0px;
   margin: 0px 0px;
   display: block;
}
.sidebarNavigationList a{
   text-decoration: none;
   color: #fdfddf;
   font-weight: light;
   padding: 10px 25px;
   display: block;
}
.sidebarNavigationList a:hover{
   background-color: #5e5e5e;
   padding: 10px 25px;
   transition: background-color 0.3s;
   border-radius: 1px;
   display: block;
}
